/* Normalize */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@keyframes entrada {
    0%{
        transform: translateY(-120px);
    }
}


a{
    text-decoration: none;
    color: white;
}

main{
    min-height: 83vh;
}

.focus{
    font-weight: bolder;
}

/* 
Colores 

Bordo: #6B022F
Blanco: white

*/

/* Navbar */

.navbarContainer{
    background-color: #6B022F;

}
.bgBordo{
    background-color: #6B022F;

}
.navbarContainer .logoContainer{
    display: inline-block;
    width: 20vw;

}




/* Footer */

.footer{
    background-color: #6B022F;
    text-align: center;
}
.footer a {
    display: inline-block;
    padding: 20px;
}
.footer a i{
    font-size: 1.8rem;
}

/* Main Content */

.head{
    height: 60vh;
    background-image: url("https://www.qatarairways.com/content/dam/images/custom/enl-subscribe-component/NL_Background_Desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
.head h1{
    font-size: 3.5rem;
    font-weight: bolder;
    color: white;
    position: relative;
    top: 40%;
    text-shadow:  2px 2px 5px #000000;
    animation-name: entrada;
    animation-duration: 3s;
}




.productsContainer{
    text-align: center;
    padding: 10vh 3vw;
}
.productsContainer .card{
    background-color: #6B022F;
    border-radius: 5px;
    color: white;
    width: 300px;
    padding: 10px;
    display: inline-block;

}

.card .destination{
    width: 100%;
    border-radius: 5px;
}

.card .info p{
    display: inline-block;
}

.card .btnContainer button{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #6B022F;
    font-weight: bolder;
    padding: 5px;
}

.card .btnContainer button i{
    font-size: .9rem;
}


/* Seccion Nosotros */

.ourContainer{
    padding: 10vh 3vw;
    color: #6B022F;
    font-weight: bolder;
}
.ourContainer h2{
    margin-bottom: 20px;
    font-size: 2rem;
}


/* Form */
.formMain{
    display: flex;
    color:#6B022F;
    height: 80vh;
}
.formContainer{
    padding-left: 20vw;
    width: 80%;
    height: 80vh;
    text-align: center;
}
.formContainer form{
    width: 60%;
    margin: 10vh auto;
}
.formContainer form h2{
    margin-bottom: 10vh;
    font-size: 2rem;
    font-weight: bolder;
}
.asideForm{
    height: 15vh;
    width: 100%;
    background-color: #6B022F;
    color: #ffffff;
    text-align: center;
}
.asideForm img{
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;

}
.inputContainer{
    text-align: start;
    margin-bottom: 5vh;
}
.inputContainer input, .input{
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid #6B022F ;
    padding: 5px 10px;
}

.btn{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #6B022F;
    font-weight: bolder;
    padding: 5px;
    border: #6B022F 1px solid;
}
.input{
    resize: none;
    height: 20vh;
}

.titleLogin{
    margin-bottom: 10vh;
}
/* Contact Form */

.contactFormContainer{
    text-align: center;
    padding: 20vh 5vw;
}
.contactForm{
    text-align: center;
    

}

.title{
    font-size: 3rem;
    font-weight: bolder;
    color: #6B022F;
}

